/*les fonts */

@mixin font_lanote() {
    font-family: 'Devonshire';
}
@mixin font_lechic {
    font-family: 'Croissant one';
}
@mixin font_ledelice() {
    font-family: 'Dancing Script';
}
@mixin font_lapalette {
    font-family: 'Kaushan Script';
}

@mixin fontAllMenu {
    font-family: 'Segoe Print';
}

@mixin fontMenu2 {
    font-family: 'Munson';
}


///// Les variables ///////

$title_color:#FDCB46;
$title_back:#569C87;
$size_menu:25px;
$main_font:'Varela Round';

//// style ////

body, .page{
    margin: 0;
    padding:0;
}

.header{
    background-color: $title_back;
    padding-bottom: 4%;
    &__title{
        margin: 0;
        font-size: 5em;
        color: $title_color;
        text-align: center;
        padding-top: 50px;
        font-weight: bold;
    }
    &__lien{
        text-decoration: none;
    }
}

.menus{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .menu{
        background-color: black;
        height: 486px;
        width: 36%;
        font-size: $size_menu;
    }

    .menu1{
        margin-left:11%;
        background-color: #FBDFDC;
        text-align: center;
        box-shadow: -3px -3px black;
        box-shadow: 1px 4px 15px  rgb(189, 189, 189);
        color: #3e131a;
        transform: scale(1);
        @include font_lanote();
        p{
            margin-bottom: 0;
        }

        h2{
            margin-top: 0;
        }
        img{
                margin-top: 20%;
            }

        h3{
            margin-top: 0px;
            @include fontAllMenu();
            font-weight: lighter;
        }
    }

    .menu2{
        margin-right:11%;
        background-color: #FFF5FE;
        text-align: center;
        box-shadow: -3px -3px black;
        box-shadow: 1px 4px 15px  rgb(189, 189, 189);
        @include fontMenu2();
        @include font_lechic();
            h2{
                margin-top: 30%;
            }

            h3{
                @include fontMenu2();
                font-weight: bolder;
            }
            
    }

    .menu3{
        margin-left:11%;
        background-color: #F9F9F9;
        text-align: center;
        box-shadow: -3px -3px black;
        box-shadow: 1px 4px 15px  rgb(189, 189, 189);
        @include fontAllMenu();
        @include font_ledelice();
            h2{
                margin-top: 35%;
            }

            h3{
                @include fontAllMenu();
                font-weight: normal;
            }
    }

    .menu4{
        margin-right:11%;
        background-color: #FDFFFD;
        text-align: center;
        box-shadow: -3px -3px black;
        box-shadow: 1px 4px 15px  rgb(189, 189, 189);
        @include fontAllMenu();
        @include font_lapalette();
            h2{
                margin-top: 35%;
            }
            h3{
                @include fontAllMenu();
                font-weight: lighter;
            }
    }
    .menu1, .menu2, .menu3, .menu4{
        margin-top: 77px;
        text-decoration: none;
        transform: scale(1);
        
        &:hover article{
            transform: scale(1.4);
            transition: transform 350ms ease-out;
        }

        &:not(:hover) article{
            transform: scale(1);
            transition: transform 350ms ease-in;
        }
    }
}

.future{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 44%;
    text-align: center;
    background-color: $title_back;
    color: $title_color;
    margin-bottom: 14%;
    font-size: $size_menu+5;
    border-radius: 15px;
    font-family: $main_font;
    font-weight: bolder;
}


.footer{
    margin: 0;
    background-color: $title_back;
    font-family: $main_font;
    font-weight: bolder;
    color: $title_color;
    font-size: xx-large;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__mention{
        margin-left: 2%;
    }
    &__contact{
        margin-right: 2%;
    }
    a{
        color: $title_color;
        text-decoration: none;
        &:hover{
            color: $title_color;
        }
    }
}

/* mention  */

.mention__main{

    margin-bottom: 15%;

    &__heading2, &__date{
        text-align: center;
    }

    &__paragraph{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}