@import '../Utils/functions';
@import '../Utils/mixins';
@import '../Utils/variables';

.footer__contact{
    margin-right: 2%;
    &:hover{
        animation: vibrate 300ms 200ms;
        animation-iteration-count: 10;
    }
}
@media screen and (max-width:1024px){
    .footer__contact{
        font-size: large;
    }
}