@import '../Utils/functions';
@import '../Utils/mixins';
@import '../Utils/variables';

.future{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 44%;
    text-align: center;
    background-color: $main_green;
    color: $main_yellow;
    margin-bottom: 14%;
    @include font("Varela Round",bolder,30px);    
    border-radius: 15px;

    &__ellipsis1{
        display: inline-block;
        font-size: 3rem;
        animation: vibrate2 700ms 200ms infinite;
    }
    &__ellipsis2{
        display: inline-block;
        font-size: 3rem;
        animation: vibrate2 700ms 300ms infinite;
    }
    &__ellipsis3{
        display: inline-block;
        font-size: 3rem;
        animation: vibrate2 700ms 400ms infinite;
    }
}
@media screen and (max-width:1024px){
    .future{
        width: 80%;
        margin-bottom: 20%;

    }
}

